*{
    font-size: 1.0em;
}

img#logo_header {
    display: none;
}


img#logo_vertical {
    display: inline-block;
    margin-left: 15%;
    height: 75px;
}

#fijar_arriba {

    height: 80px;

}

main {
    padding-top: 80px;
}

section article {
    width: 75%;
}

table *, footer *{
    font-size: 1.0em;
}

header {
    
    height: 80px;
}

section#trabajos_anteriores {
  	min-height: calc(100vh - 80px);
}



form {
    padding-top: 80px;
    background-color: rgb(102, 203, 171);
    min-height: 100vh;
}

nav#menu_superior {
    margin: 0px;
    margin-top: 10px;
    margin-right: 10%;;
}
nav#menu_superior a {
    text-align: center;
    margin: 20px 5px;
    width: auto;
}
