h1 {
    font-size: 8vw;
    color: white;
    text-shadow: 1.2px 1.2px 1px cyan, -1.2px -1.2px 1px orange;
    
  }
  
  #tituloPrincipal span.primera-letra {
    font-size: 1.2em;
  }
  
@media screen and (orientation: landscape) { 
    h1 {
      font-size: 3.8vw;
    }
  }
  