/*Documento codificado por Juan Ramón Mateos*/

/*Mobile First:*/
html, body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  width: 100vw;
}





main {
  height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
  width: 100vw;
  z-index: -1;
  position: fixed;
  top: 0px;
  display: grid;
  grid-template-columns: 0fr 1fr 0fr; /* Una columna: las laterales no se muestran */
}
  
.imagenesIndex {
  display: block; /* Flexbox dentro de cada celda */
  height: 100%; /* Mantiene la proporción original */
  width: 100%; /* O cualquier tamaño deseado */
  background-size: contain; /* Ajusta la imagen dentro del contenedor manteniendo las proporciones */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del contenedor */
  pointer-events: none;
}

footer {
  z-index: 1;
  position: absolute;
  top: 100vh;
  color: gray;
  width: 100vw;
  padding: 0px 0px 10px 0px;
}

footer > * {
  width: 100vw;
}

#imagenIzquierda {
  background-image: url("../../assets/images/fondoIzquierda_index-pequena.png");
  background-position: center right; /* Centra la imagen en ambos ejes */
}
#imagenCentro {
  background-image: url("../../assets/images/fondoCentro_index-pequena.png");
}
#imagenDerecha {
  background-image: url("../../assets/images/fondoDerecha_index-pequena.png");
  background-position: center left; /* Centra la imagen en ambos ejes */
}

@media screen and (orientation: landscape) {
  
  main {
    grid-template-columns: 2fr 3fr 2fr; /* Tres columnas de proporciones diferentes */
  }

}

@media screen and (min-width: 769px) {

  #imagenIzquierda {
    background-image: url("../../assets/images/fondoIzquierda_index-mediana.png");
    background-position: center right; /* Centra la imagen en ambos ejes */
  }

  #imagenCentro {
    background-image: url("../../assets/images/fondoCentro_index-mediana.png");
  }

  #imagenDerecha {
    background-image: url("../../assets/images/fondoDerecha_index-mediana.png");
    background-position: center left; /* Centra la imagen en ambos ejes */
  }
}
@media screen and (min-width: 1025px) {

  #imagenIzquierda {
    background-image: url("../../assets/images/fondoIzquierda_index-grande.png");
    background-position: center right; /* Centra la imagen en ambos ejes */
  }

  #imagenCentro {
    background-image: url("../../assets/images/fondoCentro_index-grande.png");
  }

  #imagenDerecha {
    background-image: url("../../assets/images/fondoDerecha_index-grande.png");
    background-position: center left; /* Centra la imagen en ambos ejes */
  }
}
@media screen and (min-width: 1441px) {

  #imagenIzquierda {
    background-image: url("../../assets/images/fondoIzquierda_index-enorme.png");
    background-position: center right; /* Centra la imagen en ambos ejes */
  }

  #imagenCentro {
    background-image: url("../../assets/images/fondoCentro_index-enorme.png");
  }
  
  #imagenDerecha {
    background-image: url("../../assets/images/fondoDerecha_index-enorme.png");
    background-position: center left; /* Centra la imagen en ambos ejes */
  }
}