{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "sftp",
      "exportHistory": true,
      "history": [
        {
          "file": "README.md",
          "mtimeMs": 1744640882698.8093,
          "date": "2025-04-15T09:22:37.723Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1744753610222.4338,
          "date": "2025-04-15T21:47:15.278Z"
        },
        {
          "file": "sitemap.xml",
          "mtimeMs": 1743978978386.7363,
          "date": "2025-04-15T09:22:38.848Z"
        },
        {
          "file": "assets/README.md",
          "mtimeMs": 1744640938882.0864,
          "date": "2025-04-15T09:22:39.261Z"
        },
        {
          "file": "assets/audio/atlantico.mp3",
          "mtimeMs": 1743977127496.5352,
          "date": "2025-04-15T09:22:49.857Z"
        },
        {
          "file": "assets/audio/flores.mp3",
          "mtimeMs": 1743977126262.212,
          "date": "2025-04-15T09:22:52.601Z"
        },
        {
          "file": "assets/audio/robotsdontcry.mp3",
          "mtimeMs": 1743977126359.916,
          "date": "2025-04-15T09:23:01.448Z"
        },
        {
          "file": "assets/audio/thesculptoroflight.mp3",
          "mtimeMs": 1743977125106.6938,
          "date": "2025-04-15T09:23:10.290Z"
        },
        {
          "file": "assets/audio/tributetojarre.mp3",
          "mtimeMs": 1743977124222.6118,
          "date": "2025-04-15T09:23:18.277Z"
        },
        {
          "file": "assets/fonts/Conthrax-SemiBold.otf",
          "mtimeMs": 1733827386000,
          "date": "2025-04-15T09:23:19.036Z"
        },
        {
          "file": "assets/fonts/Ethernal.ttf",
          "mtimeMs": 1733912650000,
          "date": "2025-04-15T09:23:19.904Z"
        },
        {
          "file": "assets/gifs/fondo.gif",
          "mtimeMs": 1744703053131.486,
          "date": "2025-04-15T09:24:13.473Z"
        },
        {
          "file": "assets/images/favicon.ico",
          "mtimeMs": 1744740410000,
          "date": "2025-04-15T18:09:00.302Z"
        },
        {
          "file": "assets/images/fondo_poster.jpg",
          "mtimeMs": 1743977128921.9102,
          "date": "2025-04-15T09:24:08.022Z"
        },
        {
          "file": "assets/images/landscape.jpg",
          "mtimeMs": 1743977127896.106,
          "date": "2025-04-15T09:24:15.375Z"
        },
        {
          "file": "assets/images/logo_header.png",
          "mtimeMs": 1743977128647.3398,
          "date": "2025-04-15T09:24:16.034Z"
        },
        {
          "file": "assets/images/logo_rectangular.png",
          "mtimeMs": 1743977128308.2695,
          "date": "2025-04-15T09:24:16.902Z"
        },
        {
          "file": "assets/images/music.jpg",
          "mtimeMs": 1743977129511.4001,
          "date": "2025-04-15T09:24:18.490Z"
        },
        {
          "file": "assets/images/perfil.jpg",
          "mtimeMs": 1743977129071.9302,
          "date": "2025-04-15T09:24:19.207Z"
        },
        {
          "file": "assets/images/playing.jpg",
          "mtimeMs": 1743977127074.7637,
          "date": "2025-04-15T09:24:20.803Z"
        },
        {
          "file": "assets/images/profile.jpg",
          "mtimeMs": 1743977129195.499,
          "date": "2025-04-15T09:24:21.525Z"
        },
        {
          "file": "assets/videos/fondo.mp4",
          "mtimeMs": 1743977123061.4272,
          "date": "2025-04-15T09:24:36.826Z"
        },
        {
          "file": "js/README.md",
          "mtimeMs": 1744640947724.302,
          "date": "2025-04-15T09:24:37.251Z"
        },
        {
          "file": "js/components/fondograno.js",
          "mtimeMs": 1744703661363.3577,
          "date": "2025-04-15T09:24:37.969Z"
        },
        {
          "file": "js/components/ocultarConScroll.js",
          "mtimeMs": 1744664135363.979,
          "date": "2025-04-15T09:24:38.637Z"
        },
        {
          "file": "js/components/primeraLetraGrande.js",
          "mtimeMs": 1744704021998.738,
          "date": "2025-04-15T09:24:39.338Z"
        },
        {
          "file": "pages/README.md",
          "mtimeMs": 1744640953997.0757,
          "date": "2025-04-15T09:24:39.771Z"
        },
        {
          "file": "pages/es/error.html",
          "mtimeMs": 1744753610222.566,
          "date": "2025-04-15T21:47:17.427Z"
        },
        {
          "file": "pages/es/perfilMusical/musica.html",
          "mtimeMs": 1744753610231.3389,
          "date": "2025-04-15T21:47:19.670Z"
        },
        {
          "file": "style/README.md",
          "mtimeMs": 1744661422543.561,
          "date": "2025-04-15T09:24:42.802Z"
        },
        {
          "file": "style/base/reset.css",
          "mtimeMs": 1735839314000,
          "date": "2025-04-15T09:24:43.546Z"
        },
        {
          "file": "style/base/typography.css",
          "mtimeMs": 1744665971218.8193,
          "date": "2025-04-15T09:24:44.229Z"
        },
        {
          "file": "style/components/noScrollbar.css",
          "mtimeMs": 1744387985292.6558,
          "date": "2025-04-15T09:24:44.903Z"
        },
        {
          "file": "style/components/index/enlacesNav.css",
          "mtimeMs": 1744747837221.0076,
          "date": "2025-04-15T20:10:52.645Z"
        },
        {
          "file": "style/components/index/fondoGrano.css",
          "mtimeMs": 1744702373786.5564,
          "date": "2025-04-15T09:24:46.544Z"
        },
        {
          "file": "style/components/index/imagenes.css",
          "mtimeMs": 1744741867797.342,
          "date": "2025-04-15T20:09:22.033Z"
        },
        {
          "file": "style/pages/index.css",
          "mtimeMs": 1744745175836.146,
          "date": "2025-04-15T20:09:26.007Z"
        },
        {
          "file": "style/pages/musicalProfile.css",
          "mtimeMs": 1744616435467.895,
          "date": "2025-04-15T09:24:49.506Z"
        },
        {
          "file": "style/pages/music/desktop.css",
          "mtimeMs": 1744664243411.1975,
          "date": "2025-04-15T09:24:50.277Z"
        },
        {
          "file": "style/pages/music/phone.css",
          "mtimeMs": 1744663587924.336,
          "date": "2025-04-15T09:24:51.060Z"
        },
        {
          "file": "style/pages/music/tablet.css",
          "mtimeMs": 1744663587926.4902,
          "date": "2025-04-15T09:24:51.856Z"
        },
        {
          "file": "style/pages/musicalProfile/desktop.css",
          "mtimeMs": 1744664256626.4492,
          "date": "2025-04-15T09:24:52.616Z"
        },
        {
          "file": "style/pages/musicalProfile/phone.css",
          "mtimeMs": 1743977129960.902,
          "date": "2025-04-15T09:24:53.435Z"
        },
        {
          "file": "style/pages/musicalProfile/tablet.css",
          "mtimeMs": 1743977130022.809,
          "date": "2025-04-15T09:24:54.255Z"
        },
        {
          "file": "assets/images/en.png",
          "mtimeMs": 1744741763938.9456,
          "date": "2025-04-15T20:09:11.338Z"
        },
        {
          "file": "assets/images/es.png",
          "mtimeMs": 1744741746916.3118,
          "date": "2025-04-15T20:09:11.981Z"
        },
        {
          "file": "assets/images/github.png",
          "mtimeMs": 1744743977284.5046,
          "date": "2025-04-15T20:09:12.616Z"
        },
        {
          "file": "pages/en/musicalProfile/artistic.html",
          "mtimeMs": 1744753610231.4187,
          "date": "2025-04-15T21:47:16.011Z"
        },
        {
          "file": "pages/en/musicalProfile/music.html",
          "mtimeMs": 1744753610231.4546,
          "date": "2025-04-15T21:47:16.772Z"
        },
        {
          "file": "pages/es/index-es.html",
          "mtimeMs": 1744753610222.517,
          "date": "2025-04-15T21:47:18.037Z"
        },
        {
          "file": "pages/es/perfilMusical/artistico.html",
          "mtimeMs": 1744753610231.3848,
          "date": "2025-04-15T21:47:18.788Z"
        },
        {
          "file": "style/components/index/listaFooter.css",
          "mtimeMs": 1744743361252.3074,
          "date": "2025-04-15T20:09:22.781Z"
        },
        {
          "file": "style/components/index/noMostrarMovil.css",
          "mtimeMs": 1744743637200.633,
          "date": "2025-04-15T20:09:23.540Z"
        },
        {
          "file": "style/components/index/titulos.css",
          "mtimeMs": 1744744481511.1472,
          "date": "2025-04-15T20:09:25.414Z"
        },
        {
          "file": "js/components/README.md",
          "mtimeMs": 1744750959709.6846,
          "date": "2025-04-15T21:02:47.153Z"
        },
        {
          "file": "js/components/redireccion.js",
          "mtimeMs": 1744753339135.7441,
          "date": "2025-04-15T21:42:39.878Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.htm",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
